.container{
   
    padding: 0;
    margin: 0 auto;
    max-width: 63%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}
.home{
    
    padding: 0;
    margin: 0 auto;
    max-width: 90%;
    border: 1px solid red;
   
    background-image:        
        url(../imagens/fundo.png);}

.fundo2{
    padding: 0;
    margin: 0 auto;
    max-width: 90%;
    border: 0px solid red;
    background-image:url(../imagens/fundo2.png) ;
}

.link{      
    float: right;
    padding-top:  70px;
    
}

.logo{
    float: left;
    padding-top: 40px;
   
}

.capa{
    
    display: flex;
    justify-content: center;
    padding-top: 0.65%;
    float: none;
}


.texto{
    text-align: justify;
}



   

.rodape{
      text-align: center;
}

