.container{
   
    padding: 0;
    margin: 0 auto;
    max-width: 900px;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    
}
.home{
    
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    border: 0px solid red;
   
    background-image:        
        url(../imagens/fundo.png);}

.fundo2{
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    border: 0px solid red;
    background-image:url(../imagens/fundo2.png) ;
}

.link{      
    float: right;
    padding-top:  70px;
    
}

.logo{
    display: flex;
    float: left;
    padding-top: 30px;
   
}

.capa{
    
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}


.texto{
  
    text-align: justify;
}



   

.rodape{
    
      text-align: center;
}

