<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>base</title>
</head>
<body>
    <link rel="stylesheet" href="../static/css/Normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
      <!-- cabeçalho -->
         <div class="container">  
            <div class="logo">
               <img src= "../static/imagens/logo.png" alt="logo">
            </div>
            <div class="links">
                <a href= "/">HOME </a>
                <a href= "/quemsomos"> Quem Somos </a>
                <a href= "/contatos">Contatos </a>
            </div>
        </div>
       
        
        

            {% block conteudo %}



            {%endblock%}

       
        <div class="rodape">
            <h4>Todos os Direitos Reservados</h4>
        </div>
</body>
</html>