<div class="fundo2">
    {% extends 'base.html' %}

    {% block conteudo %}
  <!-- corpo -->
            <div class="container">
                <div class="titulo"> 
                    <h1>Entre em contato</h1>
                </div>
            </div> 
            <div class="container">      
                <div class="texto">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor libero, perspiciatis quas voluptatibus expedita officiis dolores excepturi eveniet nisi.</p>
                    <hr>
                </div>
                
            </div>
            <div class="container">
                
                <form method="post" action="/contatos">
            
                <div class="form">
                    <form method="post" action="/contatos">
                        Seu e-mail:<br>
                        <input type="email" name="email" required> <br>
                        Asunto: <br>
                        <input type="text" name="assunto" required> <br>
                        Descrição: <br>
                        <input type="text" name="descricao" required> <br>
                        <input type="submit" value="Enviar">   
                    </form>
                </div>
            </div> 

        
            
    {%endblock%}
