<div class="fundo2">
    {% extends 'base.html' %}

    {% block conteudo %}
  <!-- corpo -->
            <div class="container">
                <div class="titulo"> 
                    <h1>Entre em contato</h1>
                </div>
            </div> 
            <div class="container">      
                <div class="texto">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor libero, perspiciatis quas voluptatibus expedita officiis dolores excepturi eveniet nisi.</p>
                    <hr>
                </div>
                
            </div>
            <div class="container">
                
              
            
                <div class="form">
                    <form>
                    Seu e-mail:<br>
                    <input type="text" name="e-mail"> <br>
                    Asunto: <br>
                    <input type="text" name="assunto"> <br>
                    Descrição: <br>
                    <input type="text" name="descrição"> <br>
                    <input type="submit" value="Enviar">   
                </div>
            </div> 
            
    {%endblock%}
