{% extends 'base.html' %}

{% block conteudo %}


  
<!-- Corpo imagem -->
        <div class="capa">
        <img src= "../statics/imagens/capa.png" alt="capa">
        </div>


<!-- Corpo texto -->
        <div class="texto">
        <h1>Sobre a Universidade</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam deserunt illo fugit corporis qui quas. Inventore, deleniti? Veritatis assumenda, exercitationem quis natus impedit expedita, distinctio eum officia asperiores recusandae illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio accusamus veritatis, at nesciunt temporibus nisi dolore eaque qui harum nemo. Inventore tempore magnam dicta! Ipsum temporibus consectetur aliquid animi impedit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora doloremque ipsum soluta blanditiis magni porro! Delectus ratione sapiente, qui cumque distinctio possimus numquam. Neque at saepe rem, quaerat debitis minima. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas fugit deleniti, numquam dolore, doloribus ut incidunt ipsam praesentium amet non mollitia. Reprehenderit, earum obcaecati nulla omnis deleniti similique iste voluptatem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, in voluptatem cum sit iure illum sunt et atque totam voluptates accusamus enim ipsum eum doloremque veniam dolorum natus! Cupiditate, ipsum!</p>
    </div>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nisi fuga delectus ducimus? Iusto debitis asperiores laboriosam dolor iure, consequatur fugit necessitatibus nesciunt ex, accusamus ipsum laborum voluptatem odit enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ea! Enim quaerat officia ducimus doloribus officiis nihil unde ullam nostrum? Repudiandae soluta voluptates id! Alias obcaecati impedit culpa totam nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sequi explicabo earum, ullam aliquam accusantium quos, reprehenderit pariatur fugiat qui excepturi natus! Impedit illo neque dolorum. Eum iusto dolore quidem?</p>
</div>
{%endblock%}


